body {
    background-color: #FFFFCC;
    font-size: 1.5em;
}

.button {
  display: inline-block;
  padding: 0.5em 0.5em;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 0.5em;

}

.button:hover {
    background-color: #3e8e41
}

input[type=text] {
    width: 25%;
    box-sizing: border-box;
    border: 0.2em solid #ccc;
    border-radius: 0.3em;
    font-size: 1em;
    background-color: white;
    padding: 12px 20px 12px 40px;
}